/src/open_sky_pipeline/Bronze/credentials.json
/src/open_sky_pipeline/Gold/db.json
/src/open_sky_pipeline/Silver/poland.json
/src/open_sky_pipeline/__pycache__

.venv

/Notebooks/credentials.json
/Notebooks/db.json
/Notebooks/poland.json