/src/open_sky_pipeline/credentials.json
/src/open_sky_pipeline/db.json
/src/open_sky_pipeline/poland.json
/src/open_sky_pipeline/__pycache__

.venv

/Notebooks/credentials.json
/Notebooks/db.json
/Notebooks/poland.json